In [1]:
#intro to Pandas
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('/content/kaggle_data/pokemon.csv')
data.head()

   #           Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1      Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2        Ivysaur  Grass  Poison  ...       80     60           1      False
2  3       Venusaur  Grass  Poison  ...      100     80           1      False
3  4  Mega Venusaur  Grass  Poison  ...      120     80           1      False
4  5     Charmander   Fire     NaN  ...       50     65           1      False

[5 rows x 12 columns]

In [5]:
my_data = np.array([[0, 3], [10, 7], [20, 9], [30, 14], [40, 15]])

my_column_names = ['temperature', 'activity']

#create data frame
my_dataframe = pd.DataFrame(data=my_data, columns=my_column_names)

print(my_dataframe)

   temperature  activity
0            0         3
1           10         7
2           20         9
3           30        14
4           40        15

In [7]:
# create a new column named 'adjusted'
my_dataframe["adjusted"] = my_dataframe["activity"] + 2

#to add more column add value end of the my_data array or just use append func
print(my_dataframe)

   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11
3           30        14        16
4           40        15        17

In [9]:
#start 0 index and go head(index)
print("Rows #0, #1, and #2:")
print(my_dataframe.head(3), '\n')

#only print selected index ...iloc[[2]]
print("Row #2:")
print(my_dataframe.iloc[[2]], '\n')

#print column between two index
print("Rows #1, #2, and #3:")
print(my_dataframe[1:4], '\n')

# print only one column using string
print("Column 'temperature':")
print(my_dataframe['temperature'])

Rows #0, #1, and #2:
   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11

Row #2:
   temperature  activity  adjusted
2           20         9        11

Rows #1, #2, and #3:
   temperature  activity  adjusted
1           10         7         9
2           20         9        11
3           30        14        16

Column 'temperature':
0     0
1    10
2    20
3    30
4    40
Name: temperature, dtype: int64

In [10]:
#task 1
#Create an 3x4 (3 rows x 4 columns) pandas DataFrame in which the columns are named Eleanor, Chidi, Tahani, and Jason. Populate each of the 12 cells in the DataFrame with a random integer between 0 and 100, inclusive.
#Output the following:
#the entire DataFrame
#the value in the cell of row #1 of the Eleanor column
#Create a fifth column named Janet, which is populated with the row-by-row sums of Tahani and Jason.
my_column_names = ['Eleanor', 'Chidi', 'Tahani', 'Jason']

my_data = np.random.randint(low=0, high=101, size=(3, 4))

data_f = pd.DataFrame(data=my_data, columns=my_column_names)

print("\nEleanor column: %d\n" % data_f['Eleanor'][1])


data_f['Janet'] = data_f['Tahani'] + data_f['Jason']

print(data_f)

Eleanor column: 73

   Eleanor  Chidi  Tahani  Jason  Janet
0       27     57      49      7     56
1       73     52      25      4     29
2       66     15      73     64    137