In [10]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns  # visualization tool


from subprocess import check_output
print(check_output(["ls", "/content/kaggle"]).decode("utf8"))

import os
for dirname, _, filenames in os.walk("/content/kaggle/input"):
    for filename in filenames:
        print(os.path.join(dirname, filename))

data = pd.read_csv('/content/kaggle/pokemon.csv')
data.head()
#general data result

combats.csv
pokemon.csv
tests.csv

   #           Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1      Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2        Ivysaur  Grass  Poison  ...       80     60           1      False
2  3       Venusaur  Grass  Poison  ...      100     80           1      False
3  4  Mega Venusaur  Grass  Poison  ...      120     80           1      False
4  5     Charmander   Fire     NaN  ...       50     65           1      False

[5 rows x 12 columns]

In [21]:
#for file and data infos
data.info()
print("-------")
#correlation
data.corr()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        799 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB
-------

                   #        HP    Attack  ...     Speed  Generation  Legendary
#           1.000000  0.097712  0.102664  ...  0.012181    0.983428   0.154336
HP          0.097712  1.000000  0.422386  ...  0.175952    0.058683   0.273620
Attack      0.102664  0.422386  1.000000  ...  0.381240    0.051451   0.345408
Defense     0.094691  0.239622  0.438687  ...  0.015227    0.042419   0.246377
Sp. Atk     0.089199  0.362380  0.396362  ...  0.473018    0.036437   0.448907
Sp. Def     0.085596  0.378718  0.263990  ...  0.259133    0.028486   0.363937
Speed       0.012181  0.175952  0.381240  ...  1.000000   -0.023121   0.326715
Generation  0.983428  0.058683  0.051451  ... -0.023121    1.000000   0.079794
Legendary   0.154336  0.273620  0.345408  ...  0.326715    0.079794   1.000000

[9 rows x 9 columns]

In [24]:
#first 3 value
data.head(3)
#only columns
data.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')